{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/UserProfiles/UserProfile-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="UserProfile-container">
  <div class="UserProfile-img">
    <img src="{% static 'images/UserProfile app logo.jpeg' %}" alt="Ed's UserProfiles" />
  </div>
  <div class="UserProfile-details">
    <h1>{{ UserProfile.name }}</h1>
    <h2>{{ UserProfile.DOB }}</h2>
    <h3>{{ UserProfile.spouse_name }}</h3>
    <p>{{ UserProfile.spouse_DOB }}</p>
    <p>{{ UserProfile.home_state }}</p>
	<p>{{ UserProfile.home_city }}</p>
	<p>{{ UserProfile.phone_number }}</p>
	<p>{{ UserProfile.email }}</p>
	<p>{{ UserProfile_linked-profile }}</p>
  </div>
    <div class="update-buttons">
      <a href="{% url 'UserProfile-update' UserProfile.id %}" class="btn warn">Edit</a>
      <a href="{% url 'UserProfile-delete' UserProfile.id %}" class="btn danger">Delete</a>
    </div>
</section>



  <section class="field">
    <div class="subsection-title">
      <h2>Business Field</h2>
	  	<p>{{ FieldOfWork.name }}</p>
	</div>
  </section>
  

{% endblock %}
